header {
    background-color: dodgerblue;
    background-image: url("../img/pattern.png");
    background-repeat: repeat;
    height: 120px;
}
#logo {
    height: 70px;
    margin-left: 100px;
    margin-top: 50px;
}
#titolo {
    font-size: 40px;
    margin-bottom: 0px;
}
section {
    margin-left: 100px;
    margin-right: 500px;
}
.sottotitolo {
    color: dimgrey;
}
#TheBooleaner {
    color: deepskyblue;
}
#sottoimmagini {
    margin-bottom: 20px;
}
.evidenziato {
    background-color: yellow;
}
